body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: grid;
    width: 1200px;
    background-color: wheat;
    margin:auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
}

.item{
    background-color: greenyellow;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}