* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    float: left;
    background: url('../images/photo-1522708323590-d24dbb6b0267.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.container::before {
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
    z-index: 1;
}

.wrapper-auto {
    width: 31%;
    margin: 0 auto;
}

.auto {
    width: 55%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 27pt;
    margin-top: 50px;
    margin-bottom: 20px;
}

.tendn {
    width: 100%;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0px 10px;
    margin: 10px 0;
    height: 45px;
}

.pass {
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    margin: 10px 0;
    /* margin-bottom: 40px; */
    height: 45px;
}

.dn {
    width: 100%;
  
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #EF6C00;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 10px 0;
    /* margin-bottom: 40px; */
    height: 45px;
}

.form-backgroud {
    width: 100%;
    float: left;
    height: 500px;
    position: relative;
    z-index: 9;
    margin: 100px 0;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #ccc;
}

.form-row {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}

.form-row>label {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.form-right {
    height: 500px;
    /* background-color: white; */
    float: left;
    width: 100%;
}